transports/tcp/src/test/resources/nio/polling-connector-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd">

    <tcp:polling-connector name="pollingConnector" pollingFrequency="500" timeout="250" >
        <tcp:direct-protocol payloadOnly="true" />
    </tcp:polling-connector>
    
    <flow name="client">
        <tcp:inbound-endpoint host="localhost" port="${port1}" exchange-pattern="request-response" connector-ref="pollingConnector" />
        <object-to-string-transformer />
        <test:component />
    </flow>

    <tcp:connector name="serverConnector" serverGreeting="#[string:welcome@#[function:systime]]">
        <tcp:direct-protocol payloadOnly="true" />
    </tcp:connector>
    
    <flow name="server">
        <tcp:inbound-endpoint host="localhost" port="${port1}" exchange-pattern="request-response" connector-ref="serverConnector" />
        <logger />
    </flow>
</mule>
